 body{
	 background-color:#181818;
	 padding-top:40px;
	 font-family: Times New Roman, sans-serif;
 }
.container {
  position: relative;
  display:block;
}
h1{
	font-size:24px;
	font-weight:600;
	color: #F1F0EF;
  text-shadow: 1px 0px 15px rgba(255,255,255, 1);
}
a{
	font-size:18px;
  color: #F1F0EF;
}
a:hover{
	color:#991F36;
}
strong{
	color:#991F36;
  font-size:20px;
}
li{
	color:#F1F0EF;
	font-size:18px;
  padding:3px;
}
