 body{
	 background-color:#181818;
	 padding-top:20px;
	 font-family: Times New Roman, sans-serif;
 }
.container {
  padding: 2% 8%;
}
h1{
	font-size:24px;
	font-weight:600;
	color: #F1F0EF;
  text-shadow: 1px 0px 15px rgba(255,255,255, 1);
}
a{
	font-size:18px;
  color: #F1F0EF;
}
a:hover{
	color:#991F36;
}
strong{
	color:#991F36;
  font-size:18.5px;
}
li{
	color:#F1F0EF;
	font-size:18px;
  padding:3px;
}
@media screen and (min-width: 1080px) {
  body {
    font-size: 24px;
  }
}
@media screen and (max-width: 720px) {
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 360px) {
  body {
    font-size: 12px;
  }
