body {
  background-color: #181818;
  padding-top: 20px;
  font-family: "Garamond", "Palatino Linotype", "Book Antiqua", "Palatino", serif;
}

.container {
  padding: 2% 5vw;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  color: #f1f0ef;
  text-shadow: 1px 0px 15px rgba(255, 255, 255, 1);
}

a {
  font-size: 18px;
  color: #f1f0ef;
}

a:hover {
  color: #991f36;
}

strong {
  color: #991f36;
  font-size: 18.5px;
}

li {
  color: #f1f0ef;
  font-size: 18px;
  padding: 3px;
}

@media screen and (min-width: 1080px) {
  body {
    font-size: 2vw;
  }
}

@media screen and (max-width: 720px) {
  body {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 1.2vw;
  }
}

@media screen and (max-width: 360px) {
  body {
    font-size: 0.8vw;
  }
}
