@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

body {
	font-family: Raleway, sans-serif;
	display: grid;
	place-items: center;
	background-color: #eee;
	color: #246;
	padding: 3em 1em;
}

h1 {
	margin: 0 auto;
}

ul {
	padding-inline-start: 1.5em;
	font-weight: 400;
  }

	
li {
	position: relative;
	padding-inline-start: 0.5em;
	padding-top: 1.5em;
	border-bottom: 1px solid #48b2;
	cursor: default;
	transition: color 0.4s;

}
