@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

body{
  font-family: 'Walter Turncoat', cursive;
  font-size: 1.5em;
  padding:1em;
  background-size: 1em 1em;
  background-color: rgb(37, 42, 52);
}
p{
  color: rgb(255, 46, 99);
}
a {
  color: rgb(234, 234, 234);
  text-decoration: none; /* no underline */
}
a:hover{
  color: rgb(8, 217, 214);
}



